[RedditCredentials]
username =
password =
clientId =
clientSecret =

[Settings]
# NOTE: To use the bot on multiple subreddits, use multireddit syntax:
#
# SUBREDDIT1+SUBREDDIT2+SUBREDDIT3
#
# Your bot must be a mod of all subreddits in the list!
subreddit =
