**--DO NOT REPLY TO THIS MESSAGE. This is an automatic response added to all new video posts.--**

Thank you for contributing!

**IMPORTANT!** Your post has been automatically removed because it contains a video link. 

In order to have your post re-instated, please reply DIRECTLY TO YOUR SUBMISSION describing the content of your link. Once this is completed, this bot will approve your post and remove this comment.

*I am a bot, and this action was performed automatically. Please contact the moderators of this subreddit if you have any questions or concerns.*